

.itembox li {
  margin-left: 0px;
}

.descriptionheader {
  text-decoration: underline;
}

.detailsheader {
  font-weight: 500;
}
.description {
  margin-bottom: 5px;
  padding: 10px;
}

.username {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 28px;
  font-weight: 500;
}

.welcome {
  margin-bottom: 20px;
  margin-left: 30px;
}

.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
}
