/* src/assets/styles/footer.css */

.footer-text {
 text-align: center;
 position: relative;
}

.donation span {
    margin-left: 4px;
    margin-right: 4px;
}

.donation span:hover {
    cursor: pointer;
}