/* src/assets/styles/header.css */

.brand-title {
  background-color: rgb(6,9,35);
  color: white;
  font-size: 40px;
  border-bottom: 5px solid rgb(65,133,13);
  padding-left: 2vw;

}

h2 span {
  border-bottom: 4px solid rgb(65,133,13);
  margin-bottom: 10px;
  padding-bottom: 10px;
}