/* src/assets/styles/home.css */

.home-container {
    text-align: center;
    margin: 150px;
}

.welcome-title {
font-size: 3em;
}

.welcome-text {
    font-size: large;
    width:65%;
   margin: auto;
   padding: 10px;
}